<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style>
        .navbar {
            border-bottom: 2px solid #e3d7f5; /* soft light purple */
        }

            .navbar .nav-link {
                color: #333;
            }
    .input-group .form-control:focus {
        box-shadow: none;
        border-color: #a084ca;
    }

    .input-group .btn {
        background-color: #0d6efd;
        border-color: #0d6efd;
    }


</style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand text-primary fw-bold" href="@Url.Action("Index", "Home")" style="font-size: 1.5rem;">
                <i class="bi bi-briefcase-fill"></i> JobPortal
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item me-3">
                        @Html.ActionLink("Home", "BrowseJobs", "Job", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item me-3">
                        @Html.ActionLink("Company Reviews", "Index", "Company", null, new { @class = "nav-link" })
                    </li>
                    @if (Session["UserId"] != null)
                    {
                        <li class="nav-item me-3">
                            @Html.ActionLink("MyJobs", "MySavedJobs", "Job", null, new { @class = "nav-link" })
                        </li>
                    }
                </ul>

                <ul class="navbar-nav">

                    <li class="nav-item me-3">
                        @Html.ActionLink("Employee / Post Job", "SignIn", "Home", null, new { @class = "nav-link fw-bold" })
                    </li>
                    @if (Session["UserId"] != null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Sign Out", "Signout", "Job", null, new { @class = "nav-link text-danger" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item me-3">
                            @Html.ActionLink("Sign In", "SignIn", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Sign Up", "SignUp", "Home", null, new { @class = "nav-link" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-4">
        @using (Html.BeginForm("SearchJobs", "Job", FormMethod.Get))
        {
            <div class="input-group" style="max-width: 400px;">
                <input type="text" name="keyword" class="form-control" placeholder="Search jobs..." />
                <button class="btn btn-primary" type="submit">Find Jobs</button>
            </div>
        }
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
